:root{
    --main-color:rgb(211, 224, 230);
}
body{
    background-color: #00334A;
    color:rgb(210, 215, 226);
}


.hidderOne{
    background-image: url('/kln3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    color:rgb(210, 215, 226);
}
.hidderTow{
    height: 100%;
    width: 100%;
    background-color: rgba(2, 17, 20, 0.767);
    position: absolute;
}

.container-fluid .GPA{
color: var(--main-color);
margin-left: 10px;
font-size: 30px;
font-weight: bold;
}
.container-fluid .GPA:hover{
    color: rgb(90, 164, 199);
    transition: .2s ease-in;
}

.GPAMAP{
    color:var(--main-color);
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}
.GPAMAP:hover{
    color: rgb(90, 164, 199);
    transition: .2s ease-in;
}
.navImage{
    height: 20px;
    width: 30px;
    color: #6e9ec5;
}


.hi1{
    text-align: center;
    margin-top: 450px;
}

.threeP{
    text-align: right;
    font-size: 20px;
    max-width: 300px;
    
    position: relative;
    left: 900px;
    margin-top: 100px;
}

.four{
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
}
.four .four-content{
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #00334A;
}
.four .four-content .year{
    margin: auto;
    width: 90px;
    background-color: var(--main-color);
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    padding: 2px 5px;
    color: #00334A;
    position: relative;
}
.four .four-content::before{
    content: '';
    width: 3px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    background-color: var(--main-color);
    margin: -1px;
}



.four .four-content .left,
    .four .four-content .right{
        width: calc(50% - 25px);
        margin-bottom: 40px;
        margin-top: 10px;
        position: relative;
    }
    .four .four-content .left{
        float: left;
    }
    .four .four-content .right{
        float: right;
    }
   
    .four .four-content .left::before{
        content: '';
        width: 15px;
        height: 15px;
        background-color: rgb(18, 101, 184);
        border: 3px solid var(--main-color);
        position: absolute;
        right: -32px;
        border-radius: 50%;
        top: 25;
    }
    .four .four-content .right::before{
        content: '';
        width: 15px;
        height: 15px;
        background-color:rgb(18, 101, 184);
        border: 3px solid var(--main-color);
        position: absolute;
        left: -32px;
        border-radius: 50%;
        top: 25;
    }
    .content{
height: 200px;
background-color: #A4E0dc;
border-radius:8px;
display: flex;
    } 

    .infoFour{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #00334A;
      direction: rtl;
      background-color: var(--main-color);
      width: 95%;
    }
    .infoFour img{
        height: 130px;
        width: 180px;
        border-radius: 100px;
        margin-top: 30px;
        margin-left: 30px;
    }
  




   .about{
    height: 390px;
    width: 1100px;
    margin: 130px auto;
    position: relative;
    background-size: cover;
 text-align: center;
   }

   .hoverlly{
position: absolute;
width: 100%;
height: 100%;
z-index: 1;
display: flex;
border-radius: 30px 0px 30px 0px;
border-left: 3px solid var(--main-color);
display: flex;
justify-content: center;
align-items: center;

   }

   .aboutB p{
line-height: 36px;
font-weight: bold;
text-align: right;
   }






   .five{
    height: 300px;
    margin-bottom: 160px ;
    text-align: center;
    padding-top: 30px;
    color: var(--main-color);
    position: relative;
   }
   .contentFive{
    position: relative;
    overflow: hidden;
    margin-top: -80px;
    height: 90%;
   }
   .contentFive::before{
   content: '';
   width: 70rem;
   height: 7px;
   background-color: var(--main-color);
   position: absolute;
   right: 140px;
   top:140px;
   
   }
.one,.tow,.three,.fourC{
    color: rgb(3, 10, 17);
    font-weight: bold;
}
   
   .contentFive .one::after{
   content: '2020';
   padding-top: 14px;
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
   background-color:  var(--main-color);
   position: absolute;
 margin-top: 112px;
 margin-left:  -210px;
 border: 3px solid rgb(29, 122, 180);
 color: #00334A;
   }
   .contentFive .tow::after{
   content: '2021';
   padding-top: 14px;
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
   background-color:  var(--main-color);
   position: absolute;
   margin-top: 112px;
 margin-left:  170px;
 border: 3px solid rgb(29, 122, 180);
 color: #00334A;
   }
   .contentFive .three::after{
   content: '2022';
   padding-top: 14px;
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
   background-color: var(--main-color);
   position: absolute;
   margin-top: 112px;
 margin-left:  525px;
 border: 3px solid rgb(29, 122, 180);
 color: #00334A;
   }
   .contentFive .fourC::after{
   content: '2019';
   padding-top: 14px;
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
   background-color: var(--main-color);
   position: absolute;
   margin-top: 112px;
 margin-left:  -599px;
 border: 3px solid rgb(29, 122, 180);
 color: #00334A;
   }

   .infoFive{
    display: flex;
    position: absolute;
   justify-content: space-between;
   align-items: center;
   margin-left: 20px;
   height: 210px;
   width: 97%;
   margin-bottom: 30px;
   margin-top: -44px;
   text-align: center;
   }
   .A,.B,.C,.D{
  height: 2rem;
  width: 2rem;
  width: 260px;
  height: 100%;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
border: 3px solid rgb(29, 122, 180);
   }
   .A{border-radius: 50px 0px 50px 0px;
    box-shadow: 0px 0px 10px 8px #A4E0dc;;}
   .D{border-radius: 0px 50px 0px 50px;
box-shadow: 0px 0px 10px 8px #A4E0dc;}
   .B,.C{border-radius:5px}



.row.hh{margin: 10px;
    padding:0;
display: flex; 
flex-wrap: unset;
}
.row{margin: 10px;
    padding:0;
}

  .col{margin-left: 10px;
  margin-right: 10px;
 
  color: #00334A;
}
.A,.B,.C,.D{
    background-color: var(--main-color);
}








.row.tow{
 display: flex;
 margin: auto;
 justify-content: space-between;
 margin-top: 100px;
 margin-bottom: 50px;
 height: 380px; border: none;
}

.row .col{
width: 490px; 
}
.row .card{
    border: none;
    width: 100%;
    height: 100%;
}
.row .card img{
   height: 100%;
    width: 110%;
   margin-left: -30px;
}
.row.three{
    width: 86%;

    margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}




.finalIndex{
    position: relative;
 height: 450px;
 width: 100%;

}
.Final{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(11, 12, 12, 0.24);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.Final .finalDivOne{

max-width: 60%;
color: var(--main-color);
display: flex;
height:360px;
margin-top: 40px;
margin-left: 40px;
}
.Final .finalDivTow{

max-width: 37%;
color: var(--main-color);
margin-top: 20px;
}
.finalIndex.row{
    margin: 0;
}
.Fone{
  
    height: 300px;
    width: 50%;
}
.Ftow{
height: 300px;
width: 50%;
}
.Fone span{
margin-right: 11px;
font-weight: bold;

}
.Ftow span{
    margin-right: 11px;
    font-weight: bold;
}
h6{
  margin-top: 21px;
  padding-top: 5px; 
}
input{
    width: 90%;
    height: 45px;
   border-radius: 7px;
   border: none;
   margin-bottom: 7px;
   margin-left: 24px;
   background-color: rgba(149, 207, 247, 0.822);
   padding-left: 20px;
   color: var(--main-color);
   
}

input:focus{
    outline: 1px solid var(--main-color);
    border: none;
    background-color: rgb(245, 244, 244);

}
.textareaF{
    width: 90%;
    height: 80px;
   border-radius: 7px;
   border: none; 
   margin-bottom: 7px;
   margin-left: 24px;
   background: none;
   color: var(--main-color);
   padding-left: 20px;
   background-color: rgba(149, 207, 247, 0.822);
}
form button{
    width: 90%;
    height: 50px;
   border-radius: 7px;
   border: none; 
   margin-bottom: 7px;
   margin-left: 24px;
}

.hidder{
    display: flex;
    color: var(--main-color);
    z-index: 1;
    height: 80px;
}
.hidder h2{
  margin-left: 38px;
  margin-top: 25px;
}
.hidder h3{
 margin-left: 875px;
 margin-top: 25px;
}



.MAPcard{
    border-top-right-radius: 40px;
    border-bottom-left-radius: 50px;
}

.mapCard{
    
    margin: 20px;
     display: flex;
     align-items: center;
     justify-content: space-around;
   margin-top: 100px;
 }



.row .card .MAPimage {
    height: 350px;  
  
    border-right:3px solid rgb(29, 122, 180); 
    box-shadow: 0 10px rgb(29, 122, 180);
    width: 100%;
    margin-left: 0px;
   background-color:var(--main-color);
   border-top-right-radius: 40px;
   border-bottom-left-radius: 50px;
}
.MAPcardBody{
    position: absolute;
    bottom: 50px;
    text-align: center;
      border-bottom-left-radius: 50px;
}
.MAPcardBody h4{
    margin-bottom: 40px;
}





























































@media (min-width: 300px) and (max-width: 575px){

    .hi1{
        text-align: center;
        margin-top: 310px;
    } 
   
    .navbar-toggler{
        border: 2px solid var(--main-color);
        background-color: var(--main-color);
        opacity: 0.7;
    }


    .container-fluid .GPA{
        color: var(--main-color);
        margin-right: -20px;
        font-size: 30px;
        font-weight: bold;
        }
   

        .about{
            height: 490px;
            width: 98%;
            margin-left: -5px;
            position: relative;
            background-size: cover;
            text-align: center;
           }
        
           .hoverlly{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: block;
        border-radius: 30px 0px 30px 0px;
        border-left: 3px solid var(--main-color);
           }

           .hoverlly .aboutA{
           display: none;
           background-color: red;
               }


               .aboutB p{
                line-height: 36px;
                font-weight: bold;
                text-align: right;
                   }
                   .hoverlly .aboutB{
                
                width: 100%;
                border-radius: 0px 0px 30px 0px;
                text-align: center;
                text-align: center;
                margin-right: -20px;
                   }
                   body{
                   padding: 0;
                   margin: 0;
                }

.hidder h3{
margin-left: 2px;
margin-top: 25px;
}

.content{
height: 340px;
background-color:#A4E0dc;
border-radius:8px;
display: flex;
font-weight: bold;
} 
.infoFour{
display: flex;
justify-content: center;
align-items: center;
color: #00334A;
direction: rtl;
background-color: var(--main-color);
width: 95%;
}

.five{

width: 100%;
height: 570px;
margin: auto;
}
.contentFive::before{
content: '';
width: 87%;
height: 7px;
background-color:var(--main-color);
position: absolute;
right: 50px;
top:120px;
}

.contentFive .one::after{
content: '2020';
padding-top: 12px;
width: 3.5rem;
height: 3.5rem;
border-radius: 50%;
background-color:  var(--main-color);
position: absolute;
margin-top: 98px;
margin-left:  -230px;
border: 2px solid rgb(29, 122, 180);
color: #00334A;
}
.contentFive .tow::after{
content: '2021';
padding-top: 12px;
width: 3.5rem;
height: 3.5rem;
border-radius: 50%;
background-color:  var(--main-color);
position: absolute;
margin-top: 98px;
margin-left:  170px;
border: 2px solid rgb(29, 122, 180);
color: #00334A;
}
.contentFive .three::after{
content: '2022';
padding-top: 12px;
width: 3.5rem;
height: 3.5rem;
border-radius: 50%;
background-color: var(--main-color);
position: absolute;
margin-top: 98px;
margin-left:  30px;
border: 2px solid rgb(29, 122, 180);
color: #00334A;
}
.contentFive .fourC::after{
content: '2019';
content: '2022';
padding-top: 12px;
width: 3.5rem;
height: 3.5rem;
border-radius: 50%;
background-color: var(--main-color);
position: absolute;
margin-top: 98px;
margin-left:  -100px;
border: 2px solid rgb(29, 122, 180);
color: #00334A;
}
.infoFive{
display: flex;
position: absolute;

align-items: center;
left: 0;
height: 360px;
width: 100%;
margin-bottom: 30px;
margin-top: -320px;
margin-left: 0px;
text-align: center;

}

.A,.B,.C,.D{
    height: 100%;
  text-align: center;
  display: flex;
justify-content: space-between;
  border: 3px solid rgb(29, 122, 180); }

     .col{margin-left: 4px;
        margin-right: 4px;
        color: #00334A;
      }
           
      .A{border-radius: 30px 0px 30px 0px;
        box-shadow: 0px 0px 5px 8px #A4E0dc;;}
       .D{border-radius: 0px 30px 0px 30px;
        box-shadow: 0px 0px 5px 8px #A4E0dc;}



        .row.tow{
            display: flex;
            justify-content: space-between;
            margin-top: 100px;
            margin-bottom: 50px;
            height: 680px; 
            border: none;
            
            margin-bottom: 150px;
            margin-top: 30px;
           }

           
.row .col{
    width: 96%; 
    margin: auto;
    }
    .row .card{
        border: none;
        width: 100%;
        height: 100%;
        margin-left: 8px;
        margin-bottom: 50px;
    }
    .row .card img{
       height: 100%;
        width: 100%;
       margin: auto;
    }
    .row.three{
        width: 98%;
    
       display: flex;
       justify-content: center;
       align-items: center;
    }

    
    .finalIndex{
        position: relative;
     height: 850px;
     width: 100%;
   
    }

    .Final{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(11, 12, 12, 0.24);
        display: block;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
       
    }
    .Final h6{
        font-size: 12px;
    }

    .Final .finalDivOne{
        min-width: 100%;
        color: var(--main-color);
        display: flex;
        height:380px;
        margin-top: 60px;
        margin-bottom: 50px;
        }
        .Final .finalDivTow{
        min-width: 100%;
        color: var(--main-color);
        margin-top: -80px;
       
        }


        input{
            width: 97%;
            height: 45px;
           border-radius: 7px;
           border: none;
           
          margin-left: -1px;
           background-color: rgba(149, 207, 247, 0.822);
           padding-left: 20px;
           color: rgb(101, 117, 122);
        }
        .textareaF{
            width: 97%;
           
           border-radius: 7px;
           border: none;
           margin-bottom: 7px;
          margin-left: -1px;
           background-color: rgba(149, 207, 247, 0.822);
           padding-left: 20px;
           color: rgb(101, 117, 122);
        }

        form button{
            width: 97%;
            height: 50px;
           border-radius: 7px;
           border: none; 
           margin: auto;
        }
        .hidder h3{
           display: none;
            }
        .hidder h2{
        margin-left: -5px;   
        text-align: center;
        }
}